<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="navbar :: header">
    <title>Создание аккаунта</title>
</head>
<body style="background: #f5f2d5">
<div th:replace="navbar :: nav"></div>
<div class="container pt-5 pb-5">
    <form method="post" action="/register">
        <h2 class="h3 mb-3 fw-normal">Регистрация</h2>

        <div th:if="${errorMessage}">
            <div class="h4 mb-3 fw-normal" th:text="${errorMessage}"></div>
        </div>

        <div class="form-floating">
            <input type="text" id="login" name="login" class="form-control mb-3" placeholder="Username" required>
            <label for="login">Логин</label>
        </div>

        <div class="form-floating">
            <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Password" required>
            <label for="password">Пароль</label>
        </div>

        <div class="form-floating">
            <input type="password" id="second_password" name="secondPassword" class="form-control mb-3"
                   placeholder="Password" required>
            <span id='message'></span>
            <label for="second_password">Повторить пароль</label>
        </div>

        <button class="btn btn-lg btn-success btn-block" type="submit">Зарегистрироваться</button>
    </form>
</div>
</body>

</html>